*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #2f6597;
  --secondary-color: #3d85c8;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button {
  border: 0;
  padding: 10px 12px;
  font-size: 1rem;
  text-align: center;
  color: var(--primary-color);
  background-color: transparent;
  cursor: pointer;
  margin: 20px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 3px solid var(--primary-color);
}

/* BUTTON 1 */

.btn-1:hover,
.btn-1:active {
  color: var(--secondary-color);
  transition: 0.7s;
}

/* BUTTON 2 */

.btn-2 {
  color: #fff;
  background-color: var(--primary-color);
}

.btn-2:hover,
.btn-2:active {
  background-color: var(--secondary-color);
  transition: 0.7s;
}

/* BUTTON 3 */

.btn-3 {
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.btn-3:hover,
.btn-3:active {
  background-color: var(--secondary-color);
  transition: 0.7s;
}

/* BUTTON 4 */

.btn-4 {
  color: #fff;
  background-color: var(--primary-color);
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 20px;
}

.btn-4:hover,
.btn-4:active {
  background-color: var(--secondary-color);
  transition: 0.7s;
}

/* BUTTON 5 */

.btn-5 {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 20px;
}

.btn-5:hover,
.btn-5:active {
  color: #fff;
  background-color: var(--secondary-color);
  transition: 0.7s;
}

/* BUTTON 6 */

.btn-6 {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 20px;
}

.btn-6:hover,
.btn-6:active {
  color: #fff;
  background-color: var(--secondary-color);
  transition: 0.7s;
}

.fa-store {
  margin-right: 5px;
}

/* BUTTON 7 */

.btn-7 {
  position: relative;
  margin-right: 1rem;
  background-color: transparent;
}

.btn-7:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 15px;
  width: 100%;
  margin-left: 6px;
  border: solid 2px var(--primary-color);
  border-color: var(--primary-color) transparent transparent transparent;
  border-radius: 50%;
  transform: rotate(-5deg);
}

.btn-7:hover,
.btn-7:active {
  color: var(--secondary-color);
  transition: 0.7s;
}

.btn-7:hover:after {
  border-color: var(--secondary-color) transparent transparent transparent;
  transition: 0.7s;
}

/* BUTTON 8 DISABLED */

.button:disabled {
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  cursor: not-allowed;
  opacity: 0.7;
}

/* < 1324px (Landscape Tablets) */

@media (max-width: 82.75em) {
  .container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-top: 4em;
  }
}

/* < 368px (Phones) */

@media (max-width: 23em) {
  .container {
    flex-direction: column;
  }
}